/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
  --blanco:#fff;
  --blanco2:#f2f2f2;
  --fondomenu:#11101d;
  --fondoPerfil:#1d1b31;
  --fondomenu2:#4c4786;
  --valor:#ff0000;
  --sombra:0 0 5px 3px #2524243b;
  --gris: #888888;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* body{
  overflow: hidden;
} */
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background:var(--fondomenu) ;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: var(--blanco);
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: var(--blanco);
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover,.sidebar .nav-links li.activo{
  background: var(--fondoPerfil);
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: var(--blanco);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: var(--blanco);
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--fondoPerfil);
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: var(--fondoPerfil);
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: var(--blanco);
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  padding: 12px;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: var(--fondomenu);
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  cursor: pointer;
  margin-right: 10px;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}
/*-------------------------*/
.bx-menu {
  position: relative;
}
.bx-menu i{
  position: absolute;
}
.hambur{
  width: 2rem;
  height: 2rem;
}
.hambur.activo .close,.hambur .open{
  display: block;
}
@keyframes rotacion {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}
.hambur.activo .close i{
  animation: rotacion 0.5s;
}
.hambur .close,.hambur.activo .open{
  display: none;
}
/*--------------agregado----------------*/
.container{
  width: 100%;
  padding: 3rem;
}
/*-------------INICIO----------------*/
.cartas{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.card{
  width: 25%;
  min-width: 140px;
  height: auto;
  padding: 1rem;
  border-radius: 5px;
  box-shadow:var(--sombra);
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s;
  text-decoration: none;
  color: var(--fondomenu);
}
.card:hover{
  background-color: var(--fondomenu2);
  color: var(--blanco);
  transform: scale(1.08);
}
.card_titulo,.card_cuerpo{
  display: flex;
  justify-content: space-between;
}
.card_cuerpo{
  margin-top: 0.5rem;
}
/*-----------formulario agregar producto------------*/
.add_produc{
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.add_produc ul{
  display: none;
}
.add_produc label{
  margin-top: 5px;
  margin-bottom:5px ;
}
.add_produc input{
  width: 100%;
  padding-left: 0.5rem;
}
.add_produc input[type="file"]{
  margin-bottom: 20px;
  cursor: pointer;
}
.add_produc input[type="submit"]{
  cursor: pointer;
  background-color: var(--fondoPerfil);
  color: var(--blanco);
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  margin-top: 1rem;
} 
.add_produc input[type="submit"]:hover{
  background-color: var(--fondomenu2);
}
.add_produc select{
  margin-left: 0.5rem;
  margin-right: 2.5rem;
  cursor: pointer;
}
/*-----------TIENDA---------------------*/
.containerIMG{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,280px));
  gap: 1.3rem;
  margin-bottom: 2rem;
}
.carta_producto{
  height: 385px;
  /* min-height: 385px; */
  text-align: center;
  box-shadow: 0 0 10px 5px #1c1c1c3b;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s;
  border-radius: 5px;
  overflow: hidden;
}
.carta_producto:hover{
  transform: scale(1.08);
}
.carta_producto img{
  width: 100%;
  height: 45%;
}
.carta_producto span,.carta_producto p{
  display: block;
  margin-top: 5px;
}
.info_producto{
  width: 100%;
}
.codigo{
  font-size: 10px;
}
.nombre_producto{
  font-weight: 700;
}
.carta_producto p{
  color: var(--valor);
}
.valor{
  width: 100%;
  margin: 7px;
  background-color: var(--valor);
  color: var(--blanco);
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
/*---------------------------------BUSCADOR----------------------------------*/
.barra_busqueda{
  display: flex;
}
.barra_busqueda form{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: 2rem;
  border: none;
}
.barra_busqueda form button,.barra_busqueda form input{
  height: 100%;
}
.barra_busqueda form input{
  padding-left: 10px;
}
.barra_busqueda button{
  margin: 0;
  padding: 5px 10px;
  background-color: var(--fondomenu);
  color: var(--blanco);
  border: none;
  border-radius: 0 7px 7px 0;
  cursor: pointer;
}
.barra_busqueda button:hover{
  background-color:var(--fondomenu2);
}
.calendario{
  margin-left: 4rem;
}
/*-----------------------TABLA--------------------------*/
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

th {
  background-color: var(--fondoPerfil);
  text-align: left;
  padding: 10px;
  border: 1px solid var(--fondomenu);
  color: var(--blanco);
  text-align: center;
}

td {
  border: 1px solid var(--fondomenu2);
  padding: 10px;
}

tr:nth-child(even) {
  background-color: var(--blanco2);
}

.total {
  text-align: right;
  font-weight: bold;
}
/*-----------Paginador----------*/
/* .pagination{
  border: 1px solid red;
} */
.step-links{
  background-color: var(--blanco2);
  padding: 0 10px;
  border-radius: 5px;
}
.step-links a{
  text-decoration: none;
  color: var(--fondoPerfil);
  cursor: pointer;
}
/* .current-page{
  border: 1px solid black;
} */
.generadorPDF{
  margin-top: 1rem;
  border: none;
}
.generadorPDF button{
  border: none;
  padding: 10px;
  background-color: var(--fondomenu);
  color: var(--blanco);
  cursor: pointer;
  border-radius: 5px;
}
.generadorPDF button:hover{
  background-color: var(--fondomenu2);
}
/*------------MODAL-------------------------------*/
.barra_busqueda .Add_produc{
  border-radius: 5px;
  margin-left: 5rem;
}
.modal {
  display: none; 
  justify-content: center;
  align-items: center;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  background-color: rgba(0,0,0,0.4); /* Color de fondo oscuro y semi-transparente */
}
/* Contenido de la ventana modal */
.modal-content {
  background-color: var(--blanco);
  padding: 2rem;
  border: 1px solid var(--gris);
  width: 80%;
  max-width: 520px;
  border-radius: 5px;
}
/* Botón de cerrar */
.closeModal {
  color: var(--gris);
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.closeModal:hover,
.closeModal:focus {
  color: var(--fondomenu);
  text-decoration: none;
  cursor: pointer;
}
/*--------------------HOME--------------------*/
.formEmpresa{
  width: 50%;
  max-width: 300px;
  box-shadow: var(--sombra);
  padding: 1rem;
  border-radius: 5px;
}
.formEmpresa strong{
  display: block;
  margin-bottom: 10px;
}
.formEmpresa p ,h3{
  margin-bottom: 10px;
}
.formEmpresa form{
  margin: 0;
}
/*---------------------------------------------*/
@media screen and (max-width: 400px){
  .sidebar{
    width: 240px;
  }
  .sidebar.close{
    width: 78px;
  }
  .sidebar .profile-details{
    width: 240px;
  }
  .sidebar.close .profile-details{
    background: none;
  }
  .sidebar.close .profile-details{
    width: 78px;
  }
  .home-section{
    left: 240px;
    width: calc(100% - 240px);
  }
  .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
  }
}