{% extends "ProyecBazarApp/base.html" %}

{% block head %}
  <span class="text">Dashboard Bazar</span>
{% endblock %}

{% block content %}

  <div class="container">
    <div class="cartas">
      <div class="card">
        <div class="card_titulo">
          <p>Factutas</p>
          <i class="fa-regular fa-clipboard"></i>
        </div>
        <div class="card_cuerpo">
          <strong>14567785</strong>
          <span>34</span>
        </div>
      </div>
      <div class="card">
        <div class="card_titulo">
          <p>Boletas</p>
          <i class="fa-regular fa-clipboard"></i>
        </div>
        <div class="card_cuerpo">
          <strong>14567785</strong>
          <span>34</span>
        </div>
      </div>
      <div class="card">
        <div class="card_titulo">
          <p>General</p>
          <i class="fa-solid fa-clipboard"></i>
        </div>
        <div class="card_cuerpo">
          <strong>14567785</strong>
        </div>
      </div>
    </div>
    <form class="info_empresa">
        <div class="input">
            <input type="text">
            <label for="">nombre</label>
            <input type="text">
            <label for="">nombre</label>
            <input type="text">
            <label for="">nombre</label>
            <input type="text">
        </div>
        <button type="submit">Enviar</button>
    </form>
  </div>
  
{%endblock %}