{% extends "ProyecBazarApp/base.html" %}

{% block head %}
  <span class="text" id="encabezado">Dashboard Bazar</span>
{% endblock %}

{% block content %}

  <div class="container" id="contenido">
    <div class="cartas">
      <a class="card" href="{% url 'Facturas' %}">
          <div class="card_titulo">
            <p>Factutas</p>
            <i class="fa-regular fa-clipboard"></i>
          </div>
          <div class="card_cuerpo">
            <strong>${{ total_factura|default:"0" }}</strong>
            <span>{{ cantidad_facturas }}</span>
          </div>
      </a>
      <a class="card" href="{% url 'Boletas' %}">
        <div class="card_titulo">
          <p>Boletas</p>
          <i class="fa-regular fa-clipboard"></i>
        </div>
        <div class="card_cuerpo">
          <strong>${{ total_boleta|default:"0" }}</strong>
          <span>{{ cantidad_boletas }}</span>
        </div>
    </a>
      <div class="card">
        <div class="card_titulo">
          <p>General</p>
          <i class="fa-solid fa-clipboard"></i>
        </div>
        <div class="card_cuerpo">
          <strong>$ 14567785</strong>
        </div>
      </div>
      <div class="card">
        <div class="card_titulo">
          <p>General-2</p>
          <i class="fa-solid fa-clipboard"></i>
        </div>
        <div class="card_cuerpo">
          <strong>$ 14567785</strong>
        </div>
      </div>
    </div>
    <div class="formEmpresa">
      <h3>Datos de la Empresa:</h3>
      <strong>{{object.nombre_empresa}}</strong>
      <p>{{object.rut_empresa}}</p>
      <p>{{object.direccion_empresa}}</p>
      <form method="POST" class="add_produc">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Guardar">
      </form>
    </div>
  </div>
  
{%endblock %}