{% extends "ProyecBazarApp/base.html" %}

{% block head %}
  <div class="barra_busqueda" id="encabezado">
    <span class="text">Pagos</span>
    {% include 'ProyecBazarApp/include/buscador.html' %}
    {% include 'ProyecBazarApp/include/buscadorFecha.html' %}
  </div>
{% endblock %}

{% block content %}
<div class="container" id="contenido">
  {% if object_list %}
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Total</th>
        <th>Vendedor</th>
        <th>Fecha de emisión</th>
      </tr>
    </thead>
    <tbody>
      {% for boleta in object_list %}
      <tr>
        <td>{{ boleta.id_boleta }}</td>
        <td>{{ boleta.total_boleta }}</td>
        <td>{{ boleta.usuario_FK }}</td>
        <td>{{ boleta.fecha_emision.date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'ProyecBazarApp/include/paginador.html' %}
  <form method="post" class="generadorPDF">
    {% csrf_token %}
    <button type="submit" name="informeBoletas_pdf">Generar PDF</button>
  </form>
  {% else %}
  <strong>NO HAY REGISTROS</strong>  
  {% endif %}
</div>
{% endblock %}