{% extends "ProyecBazarApp/base.html" %}
{% load static %}
{% block head %}
  <div class="barra_busqueda">
    <span class="text">Tienda</span>
    {% include 'ProyecBazarApp/include/buscador.html' %}
    <button id="abrir-modal" class="Add_produc" onclick="abrir_modal_creacion('{% url 'agregar_prodcuto' %}')">Agregar</button>
  </div>
{% endblock %}

{% block content %}

  <div class="container">
    {% if object_list %}
    <table>
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Codigo</th>
          <th>Nombre de producto</th>
          <th>Categoria</th>
          <th>Marca</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for producto in object_list %}
        <tr>
          <td class="tdImg"><img src="{{producto.imagen.url}}" alt="{{producto.nombre_producto}}"></td>
          <td>{{producto.codigo_producto}}</td>
          <td>{{producto.categoria_FK}}</td>
          <td>{{producto.nombre_producto}}</td>
          <td>{{producto.marca_FK}}</td>
          <td>$ {{producto.precio_producto}}</td>
          <td>
            <div class="tdAcciones">
              <button class="editar" onclick="abrir_modal_edicion('{% url 'editar_producto' producto.id_producto %}')" >Editar</button>
              <button class="borrar" onclick="eliminar_producto({{producto.id_producto}})">Borrar</button>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include 'ProyecBazarApp/include/paginador.html' %}

    <div id="edicion" class="modal"></div>

  {% else %}
  <strong>NO HAY REGISTROS</strong>  
  <div id="agregar-producto" class="modal"></div>
  {% endif %}
  </div>
{%endblock %}

{% block script %}
  <script src="{% static 'ProyecBazarApp/js/modal.js' %}"></script>
  {% include 'ProyecBazarApp/include/mensajeBorrar.html' %}
  
{% endblock %}
